.bg-container {
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f8f9fa;
}

.table-container {
  border: 2px solid black;
  width: 100%;
  height: 70vh;
  background-color: #fff;
}


#modal-body {
    margin-right: 10px; /* Adjust the padding to accommodate the scrollbar width */
}

#modal-body::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    padding-right: 20px; /* Margin for the whole scrollbar */
}

#modal-body::-webkit-scrollbar-track {
    background: peachpuff; /* Background color of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

#modal-body::-webkit-scrollbar-thumb {
    background-color: sandybrown; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

.sw-form:hover {
	cursor: pointer;
}

.task-div {
	width: 55vw;
    height: 100%;
    border-right: 2px solid black;
    padding: 15px;
    overflow-y: auto;
    padding-right: 2vw;
    overflow-x: hidden;
}

.yellow {
    color: #EEBE23;
    font-weight: bolder;
    text-shadow: black 1px 1px;
}

.bg-yellow {
	background-color: #EEBE23;
}

.lime {
    color: limegreen;
    font-weight: bolder;
    text-shadow: black 1px 1px;
}

.Green {
    color: limegreen !important;
    font-weight: bolder;
}

.bg-lime {
	background-color: limegreen;
}

.orangered {
    color: orangered;
    font-weight: bolder;
    text-shadow: black 1px 1px;
}

.RedOrange {
    color: orangered !important;
    font-weight: bolder;
}

.bg-orangered {
	background-color: orangered;
}

.black {
	columns: black;
}

#sidenavlink li {
	list-style: none;
	border: 1px solid black;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

#sidenavlink li  a{
	text-decoration: none;
	padding-left: 10px;
	text-align: left;
}

#sidenavlink {
	padding: 0;
	margin-top: 3vh;
}

.dashboard-container {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	right: 0;
	margin: 0;
}

#profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 2vh;
}

#name {
	font-size: 1.2rem;
	font-family: serif;
	font-weight: bolder;
	margin-top: 10px;
}

#hr {
	width: 100%;
	height: 3px;
	border-top: 3px solid black;
}

#justify-tab-example-tab-home.nav-link.active {
/*   background-Image: radial-gradient(circle farthest-corner at 0% 5%, rgba(62,147,252,0.3) 40%, rgba(239,183,192,0.3) 90%) !important;*/
	background-color: #97c5dc !important;
}

#justify-tab-example-tab-profile.nav-link.active {
	background-color: #f9ffb6 !important;
}

#justify-tab-example-tab-Calendar.nav-link.active {
	background: #81d3fe !important;
}

#justify-tab-example-tab-progress.nav-link.active {
	background-color: #c6fecd !important;
}

.side-link:hover {
	background-image: radial-gradient( circle farthest-corner at 50.7% 54%,  rgba(204,254,152,1) 0%, rgba(229,253,190,1) 92.4% );
}

body {
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(237,3,32,0.87) 20.8%, rgba(242,121,1,0.84) 74.4% );
}

.active {
    background-image: radial-gradient( circle farthest-corner at 50.7% 54%,  rgba(204,254,152,1) 0%, rgba(229,253,190,1) 92.4% );
}

tbody[role="presentation"] {
	height: 79vh !important;
}

tr.fc-scrollgrid-section.fc-scrollgrid-section-body.fc-scrollgrid-section-liquid[role="presentation"] {
   height: 78vh !important;
}

div.fc-daygrid-body.fc-daygrid-body-unbalanced, table.fc-scrollgrid-sync-table[role="presentation"] {
  width: 100% !important;
}

.fc .fc-toolbar-title {
	padding: 10px;
}

.fc .fc-toolbar.fc-header-toolbar {
	margin-bottom: 0.5rem !important;
}

.fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
  height: 79% !important;
}

div.fc-dayGridMonth-view {
	height: 87vh !important;  
}

.calendar-container {
  height: 400px !important; /* Set your desired height */
  width: 100%; /* Set your desired width */
}

.fc .fc-scroller-harness-liquid {
    height: 79vh !important;
}

div.fc-daygrid-body.fc-daygrid-body-unbalanced, table.fc-scrollgrid-sync-table[role="presentation"] {
    width: 100% !important;
}


div.fc-daygrid-body.fc-daygrid-body-unbalanced {
	height: 100%;
}


a.fc-daygrid-day-number {
	text-decoration: none;
}

table.fc-scrollgrid.fc-scrollgrid-liquid {
	height: 79vh !important;
}

a.fc-col-header-cell-cushion {
	text-decoration: none;
}

thead th {
    position: relative;
    margin: 0;
    padding: 0;
}

tr:first-child {

}

.arrow-up::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 5px; /* Adjust as needed */
    transform: translateY(-50%);
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

.arrow-down::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 5px; /* Adjust as needed */
    transform: translateY(-50%);
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.fixed-image {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 9999; /* Ensure it's above other content */
}

.fixed-image img {
    width: 50px; /* Adjust the size as needed */
    height: auto;
}

/*Mobile Responsive */

/* comp.css */

/* Burger Menu Styles */
.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 3;
    position: fixed;
    top: 10px;
    left: 10px;
}

.burger-bar {
    width: 100%;
    height: 3px;
    background-color: black;
}

.burger-menu.open .burger-bar:nth-child(2) {
    opacity: 0;
}

.burger-menu.open .burger-bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.burger-menu.open .burger-bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

/* Sidebar Styles */
.sidebar {
    width: 15vw;
    left: 0;
    z-index: 9998; /* default z-index */
    position: fixed;
    height: 100%;
    background: linear-gradient(92.7deg, rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2%);
    border-right: 3px solid black;
    border-left: 3px solid black;
    overflow-y: hidden;
    height: 100vh;
}

.sidebar.open {
    transform: translateX(0);
}

/* Mobile-specific Styles */
@media (max-width: 768px) {
    /* Sidebar Styles */
    .sidebar {
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
        width: fit-content;
        z-index: 9998; /* default z-index */
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        background: linear-gradient(92.7deg, rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2%);
        border-right: 3px solid black;
        border-left: 3px solid black;
        overflow-y: hidden;
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .burger-menu {
        display: flex;
        position: fixed;
        z-index: 9999;
    }

    .sidebar {
        width: 40%;
        z-index: 9998 !important; /* higher z-index for mobile */
    }

    .nav-links {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 768px) {
    #dashboard {
        position: absolute;
        left: 0;
    }

    #justify-tab-example-tabpane-progress, #justify-tab-example-tabpane-home {
        position: absolute !important;
        left: 0 !important;
        width: 100vw !important;
        margin-top: 40px !important;
    }

    .tab-full {
        width: 100% !important;
        margin-top: 0 !important;
        margin-left: 0 !important;
        display: block !important;
    }

    #task-card {
        width: 80vw !important;
    }

    #newTask-cont {
        width: 100vw;
        flex-direction: column !important;
    }

    #tasktable, #tasktable-cont, #project-table {
        width: 100% !important;
        margin-left: 0 !important;
    }

    #newTasks-main {
        display: flex;
        flex-direction: column !important;
        width: 100vw !important;
        position: absolute !important;
        height: fit-content !important;
        justify-content: center !important;
    }

    #newTask {
        width: 100vw !important;
    }

    #project-table {
        width: 95% !important;
        padding-left: 18px;
    }

    #newEmployees-cont {
        width: 100%;
        margin-left: 0 !important;
        flex-direction: column !important;
    }

    #emp-table-cont, #newEmployees-cont {
        width: 95% !important;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    #newEmployees-cont {
        margin-left: 15px !important;
    }

    #Chatroom-container {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .user-list-container {
        width: 30% !important;
        overflow-y: auto;
    }

    #chat-box {
        width: 93% !important;
        height: 95% !important;
    }

    #login {
        width: 80% !important;
        margin-right: 8%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #username {
        width: 76% !important;
    }
}

#newTask {
    display: flex !important;
    flex-direction: column !important;
}

/* Media query for small devices (max-width: 431px) */
@media (max-width: 431px) {
    #username {
        width: 100% !important; /* Set the width of the username input to 100% */
    }

    .swal-mobile .swal-title {
        font-size: 0.4rem !important; /* Adjust font size for title */
    }

    .swal-mobile .swal-text {
        font-size: 0.2rem !important; /* Adjust font size for text */
    }

    .swal-mobile .swal-popup {
        max-width: 250px !important; /* Adjust the maximum width of the popup container */
        padding: 10px !important; /* Adjust padding as needed */
        margin: 20px auto !important; /* Center the popup horizontally and provide some vertical margin */
    }

    #thisModal {
        width: 96vw !important;
        margin-left: 2vw !important;
        margin-right: 2vw !important;
    }

    #task-card {
        height: fit-content !important;
    }

    .tab-content {
        width: 100vw !important;
        left: 0 !important;
    }
}

/* Media query for medium devices (min-width: 432px) and small devices (max-width: 767px) */
@media (min-width: 432px) and (max-width: 767px) {
    #username {
        width: 76% !important; /* Set the width of the username input to 93% */
    }
}

/* Media query for large devices (min-width: 768px) and small devices (max-width: 1390px) */
@media (min-width: 768px) and (max-width: 1390px) {
    #username {
        width: 93% !important; /* Set the width of the username input to 93% */
    }
}








