.fc-daygrid-day {
  background-color: #f0f0f0 !important;
  border: 1px solid #ddd !important;
}

.fc-event {
  background-color: #3788d8 !important;
  color: white !important;
  border: none !important;
}

.fc-today {
  background-color: #f9f9f9 !important;
}

.fc table {
  width: 100% !important;
  max-height: 68% !important;
  min-height: 68% !important;
}

.fc td,
.fc th {
  padding: 5px !important;
  text-align: center !important;
}

.fc .fc-scrollgrid {
  overflow-x: auto !important;
}

.fc-daygrid-day {
  height: 30px !important;
}
